title: Praharshith K Jamalapuram | Engineering Portfolio
description: " "
theme: jekyll-theme-cayman

permalink: pretty

collections:
  projects:
    output: true
    permalink: /_projects/:name/

defaults:
  - scope:
      path: ""
      type: "projects"
    values:

      layout: page


